/* === RESET BÁSICO === */
body {
  margin: 0;
  background: #000;
  font-family: sans-serif;
}

.page-content {
  padding: 32px 36px;
  max-width: 1400px;
  margin: 0 auto;
}

/* === TÍTULO === */
.title-bar {
  background: #fff;
  padding: 24px;
}

/* ===== GRUPOS ==== */
.title-bar h1 {
  margin: 0;
  color: #000;
  font-size: 24px;
  letter-spacing: 0.5px;
}

.char-group {
  margin-bottom: 48px;
}

.char-group h2 {
  margin-bottom: 16px;
  font-size: 1.2rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #cfd8dc;
}

/* === GRID DE PERSONAJES === */
.char-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 16px;
}

/* === BOTÓN PERSONAJE === */
.char-button {
  width: 320px;
  height: 220px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 6px;
  background: #111;

  position: relative;
  overflow: hidden;

  border-radius: 12px;
  display: block;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.char-button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  transition: background 0.2s ease;
}

.char-button:hover::before {
  background: rgba(0, 0, 0, 0.25);
}

.char-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}

.char-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;

  background: linear-gradient(
    90deg,
    transparent,
    #7fdcff,
    transparent
  );

  opacity: 0;
  transition: opacity 0.2s ease;
}

.char-button:hover::after {
  opacity: 1;
}

.char-button.laevatain {
  background-image: url("../img/Laevatain.png");
}

.char-button.yvonne {
  background-image: url("../img/Yvonne.png");
}

.char-button.last-rite {
  background-image: url("../img/Last-Rite.png");
}

.char-button.ardelia {
  background-image: url("../img/Ardelia.png");
}
.char-button.xaihi {
  background-image: url("../img/Last-Rite.png");
}

.char-button.ember {
  background-image: url("../img/ember.png");
}

.char-button.endministrator {
  background-image: url("../img/iris.png");
}

.guide-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 24px 16px;
}

.guide-container img {
  width: 100%;
  height: auto;
  display: block;
}

.guide-header {
  padding: 16px;
}

.back-link {
  color: white;
  text-decoration: none;
  font-size: 14px;
  opacity: 0.8;
}

.back-link:hover {
  opacity: 1;
}
