/* === RESET BÁSICO === */
body {
  margin: 0;
  background: #000;
  font-family: sans-serif;
}

/* === TÍTULO === */
.title-bar {
  background: #fff;
  padding: 24px;
}

.title-bar h1 {
  margin: 0;
  color: #000;
  font-size: 24px;
  letter-spacing: 0.5px;
}

/* === GRID DE PERSONAJES === */
.character-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 32px;
  padding: 48px;
}

/* === BOTÓN PERSONAJE === */
.char-button {
  width: 320px;
  height: 220px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 6px;
  background: #111;

  border-radius: 12px;
  display: block;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.char-button:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}

.char-button.laevatain {
  background-image: url("../img/Laevatain.png");
}

.char-button.yvonne {
  background-image: url("../img/Yvonne.png");
}

.char-button.last-rite {
  background-image: url("../img/ember.png");
}

.char-button.ardelia {
  background-image: url("../img/Ardelia.png");
}
.char-button.xaihi {
  background-image: url("../img/Last-Rite.png");
}

.char-button.ember {
  background-image: url("../img/ember.png");
}

.char-button.enministrator {
  background-image: url("../img/iris.png");
}
